.mano {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

body {
  background-image: url("./img/fondoJuego.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.carta {
  height: 200px;
  width: 150px;
  border-radius: 10px;
  border: 3px solid white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  transition: transform 0.3s ease;
  margin-left: -30px;
}

.carta:first-child {
  margin-left: 0;
}

.carta:hover {
  transform: translateY(-10px);
}

.carta.rojo {
  background: linear-gradient(145deg, #ff5555, #ff0000);
  color: #ff5555;
}
.carta.amarillo {
  background: linear-gradient(145deg, #ffff55, #ffff00);
  color: #ffff55;
}
.carta.verde {
  background: linear-gradient(145deg, #55ff55, #00ff00);
  color: #55ff55;
}
.carta.azul {
  background: linear-gradient(145deg, #5555ff, #0000ff);
  color: #5555ff;
}
.carta.negro {
  background: linear-gradient(145deg, #555555, #000000);
  color: #555555;
}

.carta .uno-card-small-number {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 10px;
  text-shadow: 2px 2px 2px #000;
}
.carta .uno-card-small-number-bottom-right {
  position: absolute;
  right: 10px;
  bottom: 10px;
  transform: rotate(180deg);
  text-shadow: 2px 2px 2px #000;
}
.carta .uno-card-middle-circle {
  background-color: white;
  width: 100px;
  height: 205px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(40deg);
}

.carta .uno-card-middle-circle-number,
.carta .uno-card-middle-circle-text {
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-40deg);
  text-shadow: 2px 2px 2px #000;
}

.carta .uno-card-middle-circle-text {
  font-size: 24px;
  font-weight: bold;
  transform: translate(-50%, -50%) rotate(-40deg);
  text-shadow: 5px 2px 2px #000;
}

.modal-selector-color {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.contenido-selector-color {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carta.comodin,
.carta.masCuatro {
  background: linear-gradient(145deg, #9e9e9e, #757575);
}

.carta .especial {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.carta .uno-card-prohibido:before {
  content: "";
  position: absolute;
  left: 50%;
  top: -10%;
  transform: translateX(-50%) rotate(45deg);
  width: 9px;
  height: 120%;
  background-color: currentColor;
  box-shadow: 5px 2px 2px #000;
}

.carta .uno-card-prohibido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-40deg);
  width: 70px;
  height: 60px;
  border-radius: 50%;
  border: 9px solid;
  box-shadow: 5px 2px 2px #000;
}
.carta .uno-card-prohibido-top-left {
  position: absolute;
  top: 60px;
  left: -60px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 4px solid white;
  transform: translate(0, 0) rotate(-40deg);
  box-shadow: 2px 2px 2px #000;
}

.carta .uno-card-prohibido-top-left:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) rotate(45deg);
  width: 4px;
  height: 100%;
  background-color: white;
  box-shadow: 1px 1px 1px #000;
}

.carta .uno-card-prohibido-bottom-right {
  position: absolute;
  top: 115px;
  left: 120px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 4px solid white;
  transform: translate(0, 0) rotate(-40deg);
  box-shadow: 2px 2px 2px #000;
}

.carta .uno-card-prohibido-bottom-right:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) rotate(45deg);
  width: 4px;
  height: 100%;
  background-color: white;
  box-shadow: 1px 1px 1px #000;
}

.fade-in {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-options button {
  margin: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.carta-robar {
  height: 200px;
  width: 150px;
  border-radius: 10px;
  border: 3px solid white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  transition: transform 0.3s ease;
  background-color: rgba(58, 56, 58, 255);
}

.carta-robar:hover {
  background-color: rgb(48, 45, 47);
}

.carta-robar .uno-card-middle-circle {
  background-color: rgb(243, 76, 68);
  width: 100px;
  height: 205px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(40deg);
}

.carta-robar .uno-card-middle-circle-text {
  color: #f3dc50;
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-40deg);
  text-shadow: 2px 2px 2px #000;
}

.presentacion-container {
  background-image: url("./img/fondoInicio.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.start-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 8px;
}

.instructions-button {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 50%;
}
